h1{
    color: white;
    font-size: larger;
    text-align: justify;
    font-weight: 900px;

}
.lorem{
text-align: justify;
font-family: cursive;
font-weight: 900;
line-height: 30px;
 color: white;
}
#para1{
   color: white;
}
.article1{
    color: white;
    font-family: 'Kalam', cursive;
    line-height: 20px;
    font-weight: 900;
    
}
p,article{
    width: 500px;
    text-align: justify;
}
#bg{
 
    background-image: linear-gradient(#525252,#3d72b4);
}