.static {
}
.scaled {
  margin-left: 200px;
  transform: perspective(30px) scaleZ(1) rotatey(30deg) rotatey(45deg);
}
.translate {
  transform: perspective(10px) translateZ(-10px);
}
div {
  height: 100px;
  width: 300px;
  background-color: burlywood;
  border: 2px solid black;
}
