h1{
    color: chocolate;
    font-size: larger;
    text-align: justify;

}
.lorem{
text-align: justify;
color: coral;
}
#para1{
    color: crimson;
}
.article1{
    color: navy
}
p,article{
    width: 500px;
    text-align: justify;
}