
img {
    height: 300px;
    width: 300px;
    border: black solid 10px;
    margin: 10px;
  }
  .container {
    border: 4px solid black;
    background-image: linear-gradient(#f5f5dc, #870000);
    height: 1000px;
  }

  .box {
    height: 1000px;
    background-color: beige;
  }
  .image1 {
    position: relative;
  }
  .image2 {
    position: sticky;
    top: 0px;
  }
  .image3 {
    position: fixed;
  }